<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="brand-icon">Q</span> Quant V3.1
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">&#x1F4CA;</span> Portfolio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="regime">
                <span class="nav-icon">&#x1F3AF;</span> Regime
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="risk">
                <span class="nav-icon">&#x1F6E1;</span> Risk
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="strategies">
                <span class="nav-icon">&#x2699;</span> Strategies
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sentiment">
                <span class="nav-icon">&#x1F9E0;</span> Sentiment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backtest">
                <span class="nav-icon">&#x1F9EA;</span> Backtest
            </NavLink>
        </div>
    </nav>
</div>
